PORT=
NODE_ENV=
DATABASE_URL=
JWT_ACCESS_SECRET=
MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_FROM=

APP_BASE_URL=
AUTH_REFRESH_COOKIE_NAME=refresh_token
AUTH_REFRESH_COOKIE_SECURE=false
AUTH_REFRESH_COOKIE_SAME_SITE=lax